.measurement {
  display: inline-block;
  position: absolute;
  z-index: 2;
  background: #111;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 11px;
  font-family: Menlo;
  user-select: none;
  pointer-events: none;
  -webkit-user-select: none;
  -webkit-pointer-events: none;
}
